<form [formGroup]="uploadDocumentsForm" (submit)="onSubmit()">

    <div formArrayName="documents">
        <button class="btn btn-primary" type="button" (click)="onAddDocument()">Add Document</button>
        <br>
        <div class="form-group row"  *ngFor="let docCtrl of documentControls; let i = index">
            <label [for]="'doc-' + i" class="col-2 col-form-label">Document num {{i + 1}} -</label>
            <div class="col-10">
                <input class="form-control" type="text" [id]="'doc-' + i" [formControlName]="i">
                <button type="button" class="btn btn-danger" (click)="onRemoveDocument(i)">X</button>

            </div>
        </div>
    </div>
    <div class="alert alert-warning col-11">
        <strong>Pay Attention!</strong>
        We are ONLY accepting URLs from {{basicUrl}}
    </div>
    <button class="btn btn-success" type="submit"
            [disabled]="!uploadDocumentsForm.valid">
        Upload Documents
    </button>
</form>
