input[type=text] {
    display: inline-block !important;
    width: 85%;
}

button[disabled] {
    cursor: not-allowed;
}

button[type=button] {
    margin-bottom: 3px;
}

form {
    margin-bottom: 200px;
}