<form [formGroup]="searchForm" (submit)="onSearch()">
    <div class="form-row align-items-center">
        <div class="col-10">
            <label class="sr-only" for="searchInput">Search</label>
            <input type="text"
                    class="form-control mb-2"
                    id="searchInput"
                    placeholder="Search Here..."
                    formControlName="search">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success mb-2" [disabled]="!searchForm.valid">
                <fa name="search"></fa>
                <span>Search</span>
            </button>
            <button type="button" class="btn btn-danger mb-2" (click)="onClear()" [disabled]="documents.length === 0">
                <fa name="eraser"></fa>
                <span>Clear</span>
            </button>
        </div>
    </div>
</form>

<div *ngIf="documents.length !== 0">
    <div class="row">
        <div class="col-10">
            <h4 class="text-danger">Results:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <ul class="list-group">
                <li *ngFor="let doc of documents"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <app-document-detail [document]="doc" [highlight]="searchString"></app-document-detail>
                </li>
            </ul>
        </div>
    </div>
</div>