<form [formGroup]="searchForm" (submit)="onSearch()">
    <div class="form-row align-items-center">
        <div class="col-10">
            <label class="sr-only" for="searchInput">Search</label>
            <input type="text"
                    class="form-control mb-2"
                    id="searchInput"
                    placeholder="Search Here..."
                    formControlName="search">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success mb-2" [disabled]="!searchForm.valid">
                <fa name="search"></fa>
                <span>Search</span>
            </button>
            <button type="button" class="btn btn-danger mb-2" (click)="onClear()" [disabled]="documents.length === 0">
                <fa name="eraser"></fa>
                <span>Clear</span>
            </button>
        </div>
        <div class="col-10">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox"
                           class="form-check-input"
                           formControlName="isSoundex">
                    Use Soundex
                </label>
            </div>
        </div>

    </div>
</form>

<div *ngIf="documents.length !== 0">
    <div class="row">
        <div class="col-10">
            <h4 class="text-danger">Results:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <app-document-list [documents]="documents" [highlight]="searchString"></app-document-list>
        </div>
    </div>
</div>