<!--<ul class="list-group">-->
    <!--<li class="list-group-item" *ngFor="let document of documents">-->
        <!--{{}}-->
    <!--</li>-->
    <!--<li class="list-group-item">Cras justo odio</li>-->
    <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
    <!--<li class="list-group-item">Morbi leo risus</li>-->
    <!--<li class="list-group-item">Porta ac consectetur ac</li>-->
    <!--<li class="list-group-item">Vestibulum at eros</li>-->
<!--</ul>-->

<ul class="list-group">
    <li *ngFor="let doc of documents; let i = index"
            class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{doc.title}}</h5>
            <small>By {{doc.author}}</small>
        </div>
        <p class="mb-1">{{doc.description}}</p>
        <button class="btn btn-primary pull-right" (click)="onToggle(i)">Make {{doc.isActive ? "Disable" : "Enable"}}</button>
        <small>{{doc.songName}}</small>
        <br>
        <small class="mb-2 text-success" [ngClass]="{'text-danger': !doc.isActive}">
            Status: <span>{{doc.isActive | colorTextBoolean}}</span>
        </small>
    </li>
</ul>