<aside class="bg-dark">
    <ul class="list-group">
        <li class="list-group-item bg-dark">
            <fa class="text-white" name="eye"></fa>
            <a class="text-white" routerLink="view-documents" routerLinkActive="underline">View Documents</a>
        </li>
        <li class="list-group-item bg-dark">
            <fa class="text-white" name="cogs"></fa>
            <a class="text-white" href="#" routerLinkActive="underline">Change Status Documents</a>
        </li>
        <li class="list-group-item bg-dark">
            <fa class="text-white" name="upload"></fa>
            <a class="text-white" routerLink="upload-documents" routerLinkActive="underline">Upload Documents</a>
        </li>
    </ul>
</aside>
<section class="col-9">
    <router-outlet></router-outlet>
</section>